################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/PatientverwaltungTest/obj/project.nuget.cache
/.vs/Patientenverwaltung/FileContentIndex
/.vs/Patientenverwaltung/v17/TestStore/0
/.vs/Patientenverwaltung/v17/.futdcache.v1
/.vs/Patientenverwaltung/v17/.futdcache.v2
/.vs/Patientenverwaltung/v17/.suo
/.vs/ProjectEvaluation/patientenverwaltung.metadata.v5.2
/.vs/ProjectEvaluation/patientenverwaltung.projects.v5.2
/packages
/Patientenverwaltung/bin/Debug
/Patientenverwaltung/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Patientenverwaltung/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Patientenverwaltung/obj/Debug/Patientenverwaltung.csproj.AssemblyReference.cache
/Patientenverwaltung/obj/Debug/Patientenverwaltung.IntegrationTest.resources
/Patientenverwaltung/obj/Debug/Patientenverwaltung.Gui.TerminBearbeiten.resources
/Patientenverwaltung/obj/Debug/Patientenverwaltung.Gui.BerichtDaten_cs.resources
/Patientenverwaltung/obj/Debug/Patientenverwaltung.Gui.Bericht.resources
/Patientenverwaltung/obj/Debug/Patientenverwaltung.csproj.CopyComplete
/PatientverwaltungTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/.vs/Patientenverwaltung/DesignTimeBuild/.dtbcache.v2
/Patientenverwaltung/packages.config
/PatientverwaltungTest/bin/Debug/net5.0/cs
/PatientverwaltungTest/bin/Debug/net5.0
/PatientverwaltungTest/obj
/.vs/Patientenverwaltung/project-colors.json
/Patientenverwaltung/bin/Debug/Patientenverwaltung.pdb
/Patientenverwaltung/bin/Debug/Patientenverwaltung.exe
/Patientenverwaltung/bin/Debug/MySql.Data.dll
